---
---

@import "hydeout";

select {
    padding: 5px;
    border-radius: 5px;
}

.home #sidebar {
    position: fixed;
    top: 0;

    .site-title {
        font-size: 2.0rem;
    }
}

.sidebar-nav-list > .sidebar-nav-list {
    margin-left: 10px;
}
