<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
        <select onchange="if (this.value) window.location.href=this.value">
        {% assign versions = site.pages | group_by: "dir" %}
        {% for version in versions %}
        {% if version.name != "/" and version.name != "/assets/" %}
            <option value="{{ version.name }}">{{ version.name }}</option>
        {% endif %}
        {% endfor %}
        </select>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy;
    </footer>
  </body>
</html>